<div{{ attributes.addClass('bc-widewhite') }}>

  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-2@m uk-margin-large-top">
        {{ content|without('field_hero_half', 'field_background_image') }}
      </div>
      <div class="uk-width-1-2@l">
        {{ content.field_hero_half }}
      </div>
    </div>
  </div>

</div>
