

	<div uk-grid>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					{{ content.field_svg_icon_1 }}
				</div>
				<div class="uk-width-4-5">
					{{ content.field_feature_1_text }}
				</div>
			</div>
		</div>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					{{ content.field_svg_icon_2 }}
				</div>
				<div class="uk-width-4-5">
					{{ content.field_feature_2_text }}
				</div>
			</div>
		</div>
	</div>
	