<div uk-grid>
	<div class="uk-width-1-2@m">
		<img src="/themes/form3/img/cannabis/california.svg" />
	</div>
	<div class="uk-flex uk-flex-middle uk-width-1-2@m">
	<div>
	<h2>A Solution for California Dispensaries</h2>
	<p>Built with California legal issues in mind. CC's Convenient online ordering drives more sales & more loyal customers. </p></div>
	</div>
</div>

<div uk-grid>
	<div class="uk-flex uk-flex-middle uk-width-1-2@m">
	<div>
	<h2>Inventory Management</h2>
	<p>A modern data model designed for inventory management of any dispensaries needs. Canna Commerce uses realtime event-driven architecture to immediately update stock quantities when a member completes an order.</p></div>	
	</div>
	<div class="uk-width-1-2@m">
	<img src="/themes/form3/img/cannabis/cart.svg" />
	
	</div>
</div>







<div uk-grid>
	<div class="uk-width-1-2@m">
		<img src="/themes/form3/img/cannabis/integration.svg" />
	</div>
	<div class="uk-flex uk-flex-middle uk-width-1-2@m">
	<div>
	<h2>Promotion Engine</h2>
	<p>Know what your best customers are buying and incentive them to purchase more.  Inform customers that their favorite products are back in stock, or notify them of your daily/weekly specials.  SMS & Email. </p></div>
	</div>
</div>

<div uk-grid>
	<div class="uk-flex uk-flex-middle uk-width-1-2@m">
	<div>
	<h2>Limitless Customization</h2>
	<p>Match the look and feel of your club, dispensary, or delivery service with your online membership store.  Full HTML, CSS, & JavaScript control.  Best practice store templates also available.</p>
	</div>	
	</div>
	<div class="uk-width-1-2@m">
	<img src="/themes/form3/img/cannabis/infrastructure.svg" />
	
	</div>
</div>




