

<div class="footwrap">
  <div class="uk-container">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
    {% if page.copyright %}
      {{ page.copyright }}
    {% endif %}
      <div class="uk-margin-top uk-margin-large-bottom">
  <a href="https://github.com/qodeone" class="uk-margin-small-right" uk-icon="icon: github"></a>
  <a href="https://twitter.com/qodeone" class="uk-margin-small-right" uk-icon="icon: twitter"></a>
  <a href="https://www.linkedin.com/company/qode-one" class="uk-margin-small-right" uk-icon="icon: linkedin"></a>
  <a href="https://www.drupal.org/qode-one" class="uk-margin-small-right" uk-icon="icon: drupal"></a>
  <a href="https://gitlab.com/uikitty" class="uk-margin-small-right" uk-icon="icon: gitlab"></a>
  </div>
  </div>
</div>

