<div class="qode-topbar uk-container uk-container-expand">
 <div class="uk-navbar-container uk-navbar-transparent">
 <div uk-navbar>
    <div class="uk-navbar-left">
      {{ page.branding }}
	   {{ page.mainmenu }}
	<a class="uk-navbar-toggle uk-light uk-hidden@l" uk-navbar-toggle-icon uk-toggle="target: #offcanvas"></a>
    </div>
    <div class="uk-navbar-right uk-light uk-visible@m">
  <a href="/contact/request_demo" class="uk-button uk-button-default">Request a Demo</a>
    </div>
</div>
</div></div>