<div class="home-row-2 home-row-2-back" uk-height-viewport>
  <div class="uk-container uk-height-1-1">
    <div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport uk-light uk-text-center">
      <div>
        <h2>Bridge the gap between Stategy and Solutions</h2>
        <h5>Digital transformation starts with strategy. Go with a solution that brings your brand's best qualities to the forefront.</h5>
      </div>
    </div>
  </div>

</div><!--/ .home-row-2 /-->

<div class="home-row-3 home-row-3-back" uk-height-viewport>
<div class="curve5">
  <div class="uk-container uk-height-1-1">
    <div class="uk-flex uk-flex-middle uk-height-viewport uk-light">
      <div uk-grid>
      <div class="uk-width-1-2@m">
        <h2>We design customer interactions</h2>
        <h5>Qode One is a user experience agency, located in San Luis Obispo, CA.  We bring content & media to life.  We love transforming how customers interact with products & services.</h5>
        <a href="/solutions/content-management" class="uk-button uk-button-primary">Click Here</a>
      </div>
      <div class="uk-width-1-2@m">
      <img src="/themes/form3/img/a0987.gif" />
      </div>
    </div>
  </div>
</div></div>
</div><!--/ .home-row-2 /-->
