<div class="uk-width-1-2@m uk-width-1-4@l">
	<img src="/themes/form3/img/a2017/slack-dark.svg" />
	<h5>Slack Channel</h5>
</div>
<div class="uk-width-1-2@m uk-width-1-4@l">
	<img src="/themes/form3/img/a2017/git-dark.svg" />
	<h5>Github Repository</h5>
</div>
<div class="uk-width-1-2@m uk-width-1-4@l">
	<img src="/themes/form3/img/a2017/rocket-dark.svg" />
	<h5>Quick Starts</h5>
</div>
<div class="uk-width-1-2@m uk-width-1-4@l">
	<img src="/themes/form3/img/a2017/docs-dark.svg" />
	<h5>Documentation</h5>
</div>