<div class="uk-section">
<div class="uk-container uk-margin-large-top uk-margin-bottom">


	<div uk-grid>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					<img src="/themes/form3/img/a2017/api.svg" />
				</div>
				<div class="uk-width-4-5">
					<h3>RESTful JSON API</h3>
					<p>Our stateless API gives you full programmatic control over eCommerce logic, content, and assets.</p>
				</div>
			</div>
		</div>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					<img src="/themes/form3/img/a2017/language.svg" />
				</div>
				<div class="uk-width-4-5">
					<h3>Build in any language</h3>
					<p>You and your development team can use any language, meaning moltin easily fits into your existing workflow.</p>
				</div>
			</div>
		</div>
	</div>
	
	
		<div uk-grid>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					<img src="/themes/form3/img/a2017/scale.svg" />
				</div>
				<div class="uk-width-4-5">
					<h3>Scales quickly and easily</h3>
					<p>A fully decoupled microservice architecture ensures that your store is designed to scale from day one.</p>
				</div>
			</div>
		</div>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					<img src="/themes/form3/img/a2017/global.svg" />
				</div>
				<div class="uk-width-4-5">
					<h3>Optimized for speed</h3>
					<p>Servers and CDNs located in over 30 locations enable API payloads and assets to be served in the sub-100ms range.</p>
				</div>
			</div>
		</div>
	</div>
	
	
	
		<div uk-grid>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					<img src="/themes/form3/img/a2017/constant.svg" />
				</div>
				<div class="uk-width-4-5">
					<h3>Constant updates</h3>
					<p>We continually add new features and deploy updates seamlessly.</p>
				</div>
			</div>
		</div>
		<div class="uk-width-1-2@m">
			<div class="uk-margin-large-bottom" uk-grid>
				<div class="uk-width-1-5">
					<img src="/themes/form3/img/a2017/integrate.svg" />
				</div>
				<div class="uk-width-4-5">
					<h3>Created to integrate</h3>
					<p>Integrates with your technology stack and any third party systems and software.</p>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
</div>
</div>