<div id="offcanvas" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
      {{ page.offcanvas }}
       
      {% include '@form3/includes/search-offcanvas.html.twig' %}
      <a href="/contact/request_demo" class="uk-button uk-button-default uk-width-1-1 uk-margin-top">Request a Demo</a>
  </div>
</div>


