
<form class="uk-search uk-search-default uk-width-1-1" action="/search/node" method="get" accept-charset="UTF-8">
<a type="submit" value="Search" class="uk-search-icon-flip" uk-search-icon></a>
<input placeholder="Search..." title="Search" type="search" id="edit-keys" name="keys" class="uk-search-input uk-width-1-1">
</form>
        
        
    