<div class="uk-padding-small uk-visible@l">
	<p class="jl-cat-f-header">Featured products in<br />
	<span class="uk-text-bold">Mobile Audio</span></p>
	<hr class="divdark">
		<div class="uk-section uk-section-xsmall">
	<div class="uk-grid-divider" uk-grid>
		{% include '@form3/sample-content/sample-product2.html.twig' %}
		{% include '@form3/sample-content/sample-product2.html.twig' %}
		{% include '@form3/sample-content/sample-product2.html.twig' %}
		{% include '@form3/sample-content/sample-product2.html.twig' %}
		{% include '@form3/sample-content/sample-product2.html.twig' %}
		{% include '@form3/sample-content/sample-product2.html.twig' %}
		{% include '@form3/sample-content/sample-product2.html.twig' %}
	</div>
</div>
</div>