<div class="sample-product-wrapper uk-clearfix uk-width-1-2@s uk-width-1-1@m">
	<div class="uk-grid-small" uk-grid>
		<div class="uk-width-auto@m"><img src="{{ base_path ~ directory }}/img/sampleimage2.png"/></div>
	    <div class="uk-width-expand@m">
	    	<h5 class="product-teaser-title">JX250/1D</h5>
	    	<p class="product-teaser-subtitle">A feature car audio standard</p>
	    	<div class="price-view">
	    		<span class="product-teaser-price uk-margin-small-right">$230</span><a class="uk-button uk-button-small teaserbutton" href="/featured-product">View Product</a>
	    	</div>
	    </div>
	</div>
</div>