<h2>Standard Button Types</h2>

<table class="uk-table">
	<tr>
		<th>Type</th>
		<th>Normal</th>
		<th>Hover</th>
		<th>Css class</th>
	</tr>

	<tr>
		<!--start button row -->
		<td>
			<h5>Default</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button">Default</button></td>
		<td><button class="uk-button uk-active">Hover</button></td>
		<td><pre><code>uk-button</code></pre></td>
	</tr>
	<!--end button row -->
	<tr class="uk-contrast uk-back-black">
		<!--start button row -->
		<td>
			<h5>Inverse</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button">Default</button></td>
		<td><button class="uk-button uk-active">Hover</button></td>
		<td><pre><code>uk-contrast uk-button</code></pre></td>
	</tr>
	<!--end button row -->
	<tr>
		<!--start button row -->
		<td>
			<h5>Primary</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button uk-button-primary">Default</button></td>
		<td><button class="uk-button uk-button-primary uk-active">Hover</button></td>
		<td><pre><code>uk-button uk-button-primary</code></pre></td>
	</tr>
	<!--end button row -->
	<tr>
		<!--start button row -->
		<td>
			<h5>Success</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button uk-button-success">Default</button></td>
		<td><button class="uk-button uk-button-success uk-active">Hover</button></td>
		<td><pre><code>uk-button uk-button-success</code></pre></td>
	</tr>
	<!--end button row -->
	<tr>
		<!--start button row -->
		<td>
			<h5>Danger</h5>
			<p class="font11">Standard button light backgrounds</p>
		</td>
		<td><button class="uk-button uk-button-danger">Default</button></td>
		<td><button class="uk-button uk-button-danger uk-active">Hover</button></td>
		<td><pre><code>uk-button uk-button-danger</code></pre></td>
	</tr>
	<!--end button row -->

	<tr>
		<!--start button row -->
		<td>

			<h5>Button Groups</h5>
			<p class="font11">all button examples</p>

		</td>
		<td>                       <div class="uk-margin">
                                <div class="uk-button-group">
                                    <a class="uk-button" href="#">Link</a>
                                    <button class="uk-button">Button</button>
                                    <button class="uk-button">Button</button>
                                </div>
                            </div></td>
		<td><div class="uk-margin">
                                <div class="uk-button-group">
                                    <a class="uk-button uk-button-primary" href="#">Link</a>
                                    <button class="uk-button uk-button-primary">Button</button>
                                    <button class="uk-button uk-button-primary">Button</button>
                                </div>
                            </div></td>

		<td><pre><code>uk-button</code></pre></td>
	</tr>
	<!--end button row -->

	<tr>
		<!--start button row -->
		<td>

		</td>
		<td>
			<div class="uk-button-group">
				<button class="uk-button">Button</button>
				<div data-uk-dropdown="{mode:'click'}">
					<button class="uk-button autowidth"><i class="uk-icon-caret-down"></i></button>
					<div class="uk-dropdown uk-dropdown-small">
						<ul class="uk-nav uk-nav-dropdown">
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-header">Header</li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-divider"></li>
							<li><a href="#">Separated item</a></li>
						</ul>
					</div>
				</div>
			</div>
		</td>
		<td>
			<div class="uk-button-group">
				<button class="uk-button uk-button-primary">Button</button>
				<div data-uk-dropdown="{mode:'click'}">
					<button class="uk-button uk-button-primary autowidth"><i class="uk-icon-caret-down"></i></button>
					<div class="uk-dropdown uk-dropdown-small">
						<ul class="uk-nav uk-nav-dropdown">
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-header">Header</li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-divider"></li>
							<li><a href="#">Separated item</a></li>
						</ul>
					</div>
				</div>
			</div>
		</td>
		<td>
		<pre><code>uk-button-group</code></pre>
        </td>
	</tr>
	<!--end button row -->

</table>

Notes: • Buttons should always contain actual text • Text should always be centered. • Font for standard size is Source Sans Pro Regular 13px. • Minimum standard button width is 130px. • 40px left/right padding. • 10px top/bottom padding. • Buttons should
always be assigned with classes eg. uk-button. Example Usage: Cancel / Upload Alternate Button Sizes: The standard button size should be used default, but there will always be need for flexibility and the following button sizes can be used when appropriate.
(button size table) Icons in Buttons Main site action buttons should be accompanied with icons. Pictures are a universal language. (button icon example)